Repository plotly/dash-sample-apps, pull requests merged in 2019-06, with the labels that each got.

#122 mobile view for wind streaming
  apps/dash-wind-streaming/app.py
  apps/dash-wind-streaming/assets/style.css
Labels: bug, dash

#137 Update Graph Interval (dash-wind-streaming)
  apps/dash-wind-streaming/app.py
Labels: dash

#146 Added R notes to README.md
  README.md
Labels: dashr

#89 dashr-svm
  apps/dashr-svm/.buildpacks
  apps/dashr-svm/Aptfile
  apps/dashr-svm/Procfile
  apps/dashr-svm/README.md
  apps/dashr-svm/app.R
  apps/dashr-svm/assets/dash-logo.png
  apps/dashr-svm/assets/dashr-svm-screenshot.png
  apps/dashr-svm/assets/favicon.ico
  apps/dashr-svm/assets/https:_cdn.rawgit.com_plotly_dash-svm_bb031580_custom-styles.css
  apps/dashr-svm/assets/https:_cdnjs.cloudflare.com_ajax_libs_normalize_7.0.0_normalize.min.css
  apps/dashr-svm/assets/https:_fonts.googleapis.com_css?family=Open+Sans|Roboto.css
  apps/dashr-svm/assets/https:_maxcdn.bootstrapcdn.com_font-awesome_4.7.0_css_font-awesome.min.css
  apps/dashr-svm/assets/https:_rawgit.com_xhlulu_9a6e89f418ee40d02b637a429a876aa9_raw_f3ea10d53e33ece67eb681025cedc83870c9938d_base-styles.css
  apps/dashr-svm/assets/https:_unpkg.com_dash-core-components@0.34.0_dash_core_components_react-dates@12.3.0.css
  apps/dashr-svm/assets/https:_unpkg.com_rc-slider@6.1.2_assets_index.css
  apps/dashr-svm/assets/https:_unpkg.com_react-select@1.0.0-rc.3_dist_react-select.min.css
  apps/dashr-svm/assets/https:_unpkg.com_react-virtualized-select@3.1.0_styles.css
  apps/dashr-svm/assets/https:_unpkg.com_react-virtualized@9.9.0_styles.css
  apps/dashr-svm/data/data.rds
  apps/dashr-svm/data/getData.R
  apps/dashr-svm/init.R
  apps/dashr-svm/utils/helperFunctions.R
  apps/dashr-svm/utils/reusableComponents.R
Labels: dashr

#161 DashR PK Calc
  README.md
  apps/dashr-pk-calc/.buildpacks
  apps/dashr-pk-calc/Aptfile
  apps/dashr-pk-calc/DOKKU_SCALE
  apps/dashr-pk-calc/Procfile
  apps/dashr-pk-calc/README.md
  apps/dashr-pk-calc/app.R
  apps/dashr-pk-calc/assets/GitHub-Mark-Light-64px.png
  apps/dashr-pk-calc/assets/OpenSans-Light.ttf
  apps/dashr-pk-calc/assets/OpenSans-Semibold.ttf
  apps/dashr-pk-calc/assets/custom.css
  apps/dashr-pk-calc/assets/dashbio_logo_transparent.png
  apps/dashr-pk-calc/data/pkdata.csv
  apps/dashr-pk-calc/demo.gif
  apps/dashr-pk-calc/init.R
  apps/dashr-pk-calc/utils/utils.R
Labels: dashr

#126 Dashr financial report
  apps/dashr-financial-report/.buildpacks
  apps/dashr-financial-report/Aptfile
  apps/dashr-financial-report/DOKKU_SCALE
  apps/dashr-financial-report/Procfile
  apps/dashr-financial-report/README.MD
  apps/dashr-financial-report/app.R
  apps/dashr-financial-report/assets/CalibreRed.png
  apps/dashr-financial-report/assets/CaptureBlue.png
  apps/dashr-financial-report/assets/DashRlogo.png
  apps/dashr-financial-report/assets/FinancialFunctions.R
  apps/dashr-financial-report/assets/KQrXdb.css
  apps/dashr-financial-report/assets/Logo.png
  apps/dashr-financial-report/assets/dashLogo.png
  apps/dashr-financial-report/assets/font-awesome.min.css
  apps/dashr-financial-report/assets/goldman-sachs-report.css
  apps/dashr-financial-report/assets/normalize.min.css
  apps/dashr-financial-report/assets/risk_reward.png
  apps/dashr-financial-report/assets/skeleton.min.css
  apps/dashr-financial-report/assets/themeBlue.txt
  apps/dashr-financial-report/assets/themeRed.css
  apps/dashr-financial-report/data/df_after_tax.csv
  apps/dashr-financial-report/data/df_avg_returns.csv
  apps/dashr-financial-report/data/df_current_prices.csv
  apps/dashr-financial-report/data/df_dividend.csv
  apps/dashr-financial-report/data/df_equity_char.csv
  apps/dashr-financial-report/data/df_equity_diver.csv
  apps/dashr-financial-report/data/df_expenses.csv
  apps/dashr-financial-report/data/df_fund_facts.csv
  apps/dashr-financial-report/data/df_graph.csv
  apps/dashr-financial-report/data/df_hist_prices.csv
  apps/dashr-financial-report/data/df_minimums.csv
  apps/dashr-financial-report/data/df_price_perf.csv
  apps/dashr-financial-report/data/df_realized.csv
  apps/dashr-financial-report/data/df_recent_returns.csv
  apps/dashr-financial-report/data/df_unrealized.csv
  apps/dashr-financial-report/init.R
Labels: dashr

#124 DashR Ideogram
  apps/dashr-ideogram/.buildpacks
  apps/dashr-ideogram/Aptfile
  apps/dashr-ideogram/DOKKU_SCALE
  apps/dashr-ideogram/Procfile
  apps/dashr-ideogram/README.MD
  apps/dashr-ideogram/app.R
  apps/dashr-ideogram/assets/1000_virtual_snvs.json
  apps/dashr-ideogram/assets/10_virtual_cnvs.json
  apps/dashr-ideogram/assets/DashRlogo.png
  apps/dashr-ideogram/assets/SRR562646.json
  apps/dashr-ideogram/assets/base.css
  apps/dashr-ideogram/assets/general-app-page.css
  apps/dashr-ideogram/assets/github.png
  apps/dashr-ideogram/assets/ideogram-style.css
  apps/dashr-ideogram/assets/ideogramAnnotations.png
  apps/dashr-ideogram/assets/ideogramMain.png
  apps/dashr-ideogram/assets/index.png
  apps/dashr-ideogram/assets/openSansFont.css
  apps/dashr-ideogram/data/df_unrealized.csv
  apps/dashr-ideogram/init.R
Labels: dashr

#174 DashR Salesforce CRM
  apps/dashr-salesforce-crm/.buildpacks
  apps/dashr-salesforce-crm/Aptfile
  apps/dashr-salesforce-crm/Procfile
  apps/dashr-salesforce-crm/README.md
  apps/dashr-salesforce-crm/SFManager.R
  apps/dashr-salesforce-crm/app.R
  apps/dashr-salesforce-crm/assets/1.css
  apps/dashr-salesforce-crm/assets/2.css
  apps/dashr-salesforce-crm/assets/3.css
  apps/dashr-salesforce-crm/assets/4.css
  apps/dashr-salesforce-crm/assets/5.css
  apps/dashr-salesforce-crm/assets/6.css
  apps/dashr-salesforce-crm/assets/dash-logo.png
  apps/dashr-salesforce-crm/assets/s4.css
  apps/dashr-salesforce-crm/assets/s8.css
  apps/dashr-salesforce-crm/assets/ss1.css
  apps/dashr-salesforce-crm/cases.R
  apps/dashr-salesforce-crm/functions.R
  apps/dashr-salesforce-crm/init.R
  apps/dashr-salesforce-crm/leads.R
  apps/dashr-salesforce-crm/opportunties.R
Labels: dashr
