Repository plotly/dash-sample-apps, pull requests merged in 2019-07, with the labels that each got.

#163 DashR Drug Discovery
  apps/dashr-drug-discovery/.DS_Store
  apps/dashr-drug-discovery/Aptfile.txt
  apps/dashr-drug-discovery/Procfile
  apps/dashr-drug-discovery/README.md
  apps/dashr-drug-discovery/app.R
  apps/dashr-drug-discovery/assets/app.css
  apps/dashr-drug-discovery/assets/dash-logo-stripe.png
  apps/dashr-drug-discovery/assets/style.css
  apps/dashr-drug-discovery/buildpacks.txt
  apps/dashr-drug-discovery/data/small_molecule_drugbank.csv
  apps/dashr-drug-discovery/drug_discovery.png
  apps/dashr-drug-discovery/init.R
  apps/dashr-drug-discovery/requirements.txt
  apps/dashr-drug-discovery/runtime.txt
Labels: dashr

#199 Update dash 1.0.0 (dash-drug-discovery)
  apps/dash-drug-discovery/app.py
  apps/dash-drug-discovery/assets/dash-logo-inverted.png
  apps/dash-drug-discovery/assets/dash-logo-stripe.png
  apps/dash-drug-discovery/assets/style.css
  apps/dash-drug-discovery/requirements.txt
Labels: dash

#198 Update dash 1.0.0 (dash-wind-streaming)
  apps/dash-wind-streaming/app.py
  apps/dash-wind-streaming/assets/dash-logo-stripe-inverted.png
  apps/dash-wind-streaming/assets/dash-logo.png
  apps/dash-wind-streaming/assets/style.css
  apps/dash-wind-streaming/requirements.txt
Labels: dash

#133 DashR Opioid Epidemic
  .DS_Store
  .gitignore
  README.md
  apps/.DS_Store
  apps/dashr-opiod-endemic/.DS_Store
  apps/dashr-opiod-endemic/.buildpacks
  apps/dashr-opiod-endemic/.gitignore
  apps/dashr-opiod-endemic/Aptfile
  apps/dashr-opiod-endemic/Procfile
  apps/dashr-opiod-endemic/README.md
  apps/dashr-opiod-endemic/age_adjusted_death_rate_no_quotes.csv
  apps/dashr-opiod-endemic/app.R
  apps/dashr-opiod-endemic/assets/dash-logo-new.png
  apps/dashr-opiod-endemic/assets/opioid.css
  apps/dashr-opiod-endemic/init.R
  apps/dashr-opiod-endemic/lat_lon_counties.csv
Labels: dashr

#196 Fix dashTable in DashR LAStoDash
  apps/dashr-lastodash/app.R
Labels: bug

#222 Add DashR OncoPrint
  apps/dashr-oncoprint/.buildpacks
  apps/dashr-oncoprint/Aptfile
  apps/dashr-oncoprint/Procfile
  apps/dashr-oncoprint/README.md
  apps/dashr-oncoprint/app.R
  apps/dashr-oncoprint/assets/GitHub-Mark-64px.png
  apps/dashr-oncoprint/assets/GitHub-Mark-Light-64px.png
  apps/dashr-oncoprint/assets/base.css
  apps/dashr-oncoprint/assets/dashbio_logo_transparent.png
  apps/dashr-oncoprint/assets/dashbio_logo_words.png
  apps/dashr-oncoprint/assets/dashr-oncoprint-screenshot.png
  apps/dashr-oncoprint/assets/gallery-style.css
  apps/dashr-oncoprint/assets/general-app-page.css
  apps/dashr-oncoprint/assets/oncoprint-styles.css
  apps/dashr-oncoprint/data/oncoprint_cBioPortalData.json
  apps/dashr-oncoprint/data/oncoprint_dataset1.json
  apps/dashr-oncoprint/data/oncoprint_dataset2.json
  apps/dashr-oncoprint/data/oncoprint_dataset3.json
  apps/dashr-oncoprint/init.R
Labels: dashr

#160 DashR Yield Curve
  apps/dashr-studybrowser/assets/study.csv
  apps/dashr-yield-curve/.buildpacks
  apps/dashr-yield-curve/Aptfile
  apps/dashr-yield-curve/DOKKU_SCALE
  apps/dashr-yield-curve/Procfile
  apps/dashr-yield-curve/README.md
  apps/dashr-yield-curve/app.R
  apps/dashr-yield-curve/assets/dashr-yield-curve-screenshot.png
  apps/dashr-yield-curve/assets/plotly_ga.js
  apps/dashr-yield-curve/assets/stylesheet.css
  apps/dashr-yield-curve/data/yield_curve.csv
  apps/dashr-yield-curve/init.R
Labels: dashr

#228 Dash mapd demo
  apps/dash-mapd-demo/app.py
Labels: dash, performance
